{% extends 'shop/layouts/main.html' %}

{% block content %}
<style>
    a{
        text-decoration:none;
        color:black;
    }
</style>
<section class='bg-light py-4 my-5'>
    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <h4 class='mb-3'>{{category_name}}</h4>
                <hr style='border-color:red;'>
                {% include 'shop/inc/message.html' %}
            </div>
            {% for item in products%}
            
            <div class='col-md-4 col-lg-3'>
                <div class='card my-3'  style='border-radius:5px;'>
                    <img src='{{item.product_image.url}}' classes='card-image-top' alt='categories' style='height:300px; border-radius:5px;'>
                    
                    <a href='{% url 'product_details' category_name item.name %}'>
                        <div class='card-body'>
                            <h5 class='card-title text-primary'> {{item.name}} </h5>
                            <p class='card-text'>
                                <span class='float-start old_price' style="color:red;" ><s>Rs:{{item.original_price | stringformat:'d'}}</s></span>
                                <span class='float-end new_price' style='background-color:green; display:inline; color:white;padding:0px 3px 0px 3px;border-radius:2px; margin-bottom:4px;'>Rs:{{item.selling_price | stringformat:'d'}}</span>
                            </p>
                        </div>
                    </a>
                </div>               
            </div>
            {% endfor%}
        </div>
    </div>
</section>

{% endblock content %}
