.carousel-item img{
    object-fit: fit;
    object-position: top;
    overflow: hidden;
}

html{
    font-size: 14px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a{
    text-decoration: none;
}